.column {
  list-style: none;
  border-radius: 5px;
  background: #a7d1f8;
  color: black;
  padding: 10px;
  min-width: 250px;
  height: 100%;
  /*  overflow-y: scroll; */
  position: relative;
  margin: 20px;
}
.tasks {
  padding: 0;
}

.delete-column {
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('./../../../public/assets/svg/delete.svg');
  background-repeat: no-repeat;
  background-size: cover;
  right: 14px;
  top: 10px;
  cursor: pointer;
}
.btn-add-column {
  margin-top: 50px;
}
.columns::-webkit-scrollbar {
  height: 15px;
}
.columns::-webkit-scrollbar-track {
  background: #30c5ff;
  border-radius: 10px;
}
.columns::-webkit-scrollbar-thumb {
  background: rgb(0, 75, 119);
  border: 3px solid rgb(0, 75, 119);
  border-radius: 15px;
}
.columns::-webkit-scrollbar-thumb:hover {
  background: rgb(132, 215, 248);
}
