.wraper-input-file {
    width: 100%;
    position: relative;
    cursor: pointer;
    margin: 20px 0;
  }

  .input-file { 
    opacity: 0;
    position: absolute;
    cursor: pointer;
  }
.icon-file {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(227, 242, 253);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    padding: 10px;
}
.icon-file img {
  height: 35px;
  width: 35px;
}
.file-text {
    width: 100%;
    height: 60px;
    background: rgb(227, 242, 253);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 40px;
}
.label-input-file {
    width: 100%;
    height: 60px;
    display: flex;
    cursor: pointer;
}