.header {
  background-image: linear-gradient(to right, #04befe, #3f86ed, #25aae1, #4481eb);
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.header a {
  text-decoration: none;
}

.header.active {
  height: 60px;
  background-image: linear-gradient(to left, #04befe, #002e69, #25aae1, #01348b);
  box-shadow:20px 20px 50px #01348b;
}

.header__button-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__button-block > div > a {
  position: relative;
}

.header__home-button {
  display: flex;
}

.header__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media (max-width: 400px) {
  .header__icon {
    width: 30px;
    height: 30px;
  }
}

.header__icon-small {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

@media (max-width: 400px) {
  .header__icon-small {
    width: 20px;
    height: 20px;
  }
}

.header__action-button {
  color: #fff;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background: transparent;
  align-items: center;
  margin: 5px;
  padding: 10px;
  background-image: linear-gradient(to right, #001d3f, #1447a0, #010044, #0e53bb);
  background-size: 300% 100%;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}
.header__action-button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;  
}
.header__action-button.header__username{
  background-color: transparent;
}
.link__board {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #001d3f, #1447a0, #010044, #0e53bb);
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
}
.link__board:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;  
}
@media (max-width: 400px) {
  .header__action-button {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header__username {
    width: 10px;
    overflow: hidden;
  }
}

.header__change-lang {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  position: relative;
  outline: none;
  width: 50px;
  margin-top: 7px;
}

.header__change-lang:after {
  content: '';
  display: block;
  position: absolute;
}

.header__change-lang > option {
  color: black;
}
@media (max-width: 570px) {
  .header, .header.active  {
      height: 120px;
  }
  .header__home-button {
    flex-wrap: wrap;
  }
  .header__icon {
    margin:0 auto;
  }
  .header__button-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .link__board {
    font-size: 14px;
    margin: 0 auto;
  }
  .header__user-name-block {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .header__change-lang {
    margin: auto;
  }
}