.header {
  background-image: linear-gradient(to right, #04befe, #3f86ed, #25aae1, #4481eb);
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.header.active {
  height: 60px;
  background-image: linear-gradient(to left, #04befe, #220311, #25aae1, #01348b);
  opacity: 0.8;
}

.header__button-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__button-block > div > a {
  text-decoration: none;
  position: relative;
}

.header__icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 400px) {
  .header__icon {
    width: 30px;
    height: 30px;
  }
}

.header__icon-small {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

@media (max-width: 400px) {
  .header__icon-small {
    width: 20px;
    height: 20px;
  }
}

.header__action-button {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background: transparent;
  align-items: center;
  padding: 5px;
}

@media (max-width: 400px) {
  .header__action-button {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header__username {
    width: 10px;
    overflow: hidden;
  }
}

.header__change-lang {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  position: relative;
  outline: none;
  width: 50px;
  margin-top: 7px;
}

.header__change-lang:after {
  content: '';
  display: block;
  position: absolute;
}

.header__change-lang > option {
  color: black;
}
