.container-form h2 {
  color: #003f95;
}
.container-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto;
  text-align: left;
}
.container-img-register{
  width: 600px;
  height: 639px;
  background-image: url('./../../../public/assets/jpg/register.jpg');
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container-img-register {
    width: 350px;
    height: 389px;
  }
}
.form {
  margin: 0 auto;
  border-radius: 5px;
  width: 500px;
}

.form input,
.form select {
  display: block;
}

.form__btn-submit {
  display: block;
  width: 150px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
  Verdana, sans-serif;
  font-weight: 600; 
  cursor: pointer;
  margin: 0px auto;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.form__btn-submit:focus {
  outline: none;
}

.form__btn-submit:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.namesUser {
  display: flex;
  justify-content: space-between;
}
.namesUser input {
  width: 80%;
}
.input-checkbox {
  width: 20%;
  margin: 0;
}
.checkbox-label {
  display: flex;
  margin-bottom: 20px;
}
.redirect {
  font-family: monospace;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
}