.main {
  width: 100%;
  min-height: calc(100vh - 120px);
  background: linear-gradient(to top, #eaf3ff, #5f9fee);
  font-size: 23px;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}
.main__header {
  align-items: center;
  min-height: 80px;
  padding: 20px 10px 0;
}
.main__header-inner {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .main__header-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.main__btn {
  margin: 0;
  background-image: linear-gradient(to right, #001d3f, #1447a0, #010044, #0e53bb);
  background-size: 300% 100%;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}
.main__btn:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;  
}

.main__cont {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 30px;
  justify-content: space-between;
  padding: 20px 10px;
  max-width: 70%;
  margin: 0 auto;
}

.main__cont span {
  margin-left: 7px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.board {
  display: flex;
}

.board__view {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(238, 255, 255);
  background-image: url('../../../public/assets/jpg/board.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #2b3c50;
  text-decoration: none;
  font-size: 20px;
  transition: 1s;
}

.board__view:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 1px;
}
.board__title, .board__description  {
  margin: 0 auto;
  padding: 20px 0;
  opacity: 0.9;
  max-height: 90px;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-wrap: break-word;
  overflow: hidden;
}
.board__description {
  padding: 0;
  font-size: 14px;
  max-height: 110px;
}

.board__buttns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70px;
}

.icon-button {
  padding: 10px;
  background: rgba(65, 139, 192, 0.386);
  cursor: pointer;
  border-radius: 4px;
  transition: 1s;
}

.icon-button:hover {
  background: rgb(227, 242, 253);
  border: 1px solid rgb(1, 107, 199);
  border-radius: 5px;
}

.icon-button img {
  height: 25px;
  width: 25px;
}

@media (max-width: 1000px) {
  .main__cont {
    justify-content: center;
    max-width: 90%;
  }
}

@media (max-width: 790px) {
  .board__view {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .board {
    flex-direction: column;
  }
  .board__buttns {
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }
  .main__cont {
    gap: 50px 10px;
  }
}

@media (max-width: 400px) {
  .board__view {
    width: 280px;
    height: 250px;
  }
}