.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #eaf3ff, #5f9fee);
  font-size: 23px;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 10px;
  background-color: #454b4d27;
}

@media (max-width: 600px) {
  .main__header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

.main__btn {
  margin: 0;
}

.main__cont {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 30px;
  justify-content: space-between;
  padding: 20px 10px;
}

.main__cont span {
  margin-left: 7px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.board {
  display: flex;
}

.board__view {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(238, 255, 255);
  background-image: url('../../../public/assets/jpg/board.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #2b3c50;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.9;
  transition: 1s;
}

.board__view:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 1px;
}
.board__title {
  margin: 0 auto;
  padding: 20px 0;
  opacity: 0.9;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.6);
}

.board__buttns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70px;
}

.icon-button {
  padding: 10px;
  background: rgba(65, 139, 192, 0.386);
  cursor: pointer;
  border-radius: 4px;
  transition: 1s;
}

.icon-button:hover {
  background: rgb(227, 242, 253);
  border: 1px solid rgb(1, 107, 199);
  border-radius: 5px;
}

.icon-button img {
  height: 25px;
  width: 25px;
}

@media (max-width: 706px) {
  .main__cont {
    justify-content: center;
  }
  .board__view {
    width: 350px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .board {
    flex-direction: column;
  }
  .board__buttns {
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  }
  .main__cont {
    gap: 50px 10px;
  }
}

@media (max-width: 400px) {
  .board__view {
    width: 280px;
    height: 250px;
  }
}