.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: #fff;
}

.modal__cont {
    width: 500px;
    padding: 20px;
    background-color: rgb(184, 215, 238);
    border-radius: 5px;
}

.modal-not_active {
    opacity: 0;
    display: none;
}

.modal__cont .btn__modal {
    margin: 15px auto;
}