.board-page__inner {
    min-height: calc(100vh - 170px);
}
.content-board {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto;
}
.columns {
    display: flex;
    justify-content: space-between;
}
