.btn {
    display: block;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
    font-weight: 600; 
    cursor: pointer;
    margin: 0px auto;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #001d3f, #1447a0, #010044, #0e53bb);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }

  .btn-warn {
    background-image: linear-gradient(to right, #e66b6b, #ff0000d5, #ca6161, #ca0303);
    box-shadow: 0 4px 15px 0 rgb(#ca6161);
  }

  .btn:focus {
    outline: none;
  }
  
  .btn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
  }
  